

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgb (0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(53,50,153, 0.2);
    border-radius: 10px;
    
}

::-webkit-scrollbar-thumb:hover {
   background-color: rgb(53,50,153, 0.2);
   cursor: pointer;
}

body {
    background-color: #e6e6e6;
}

.page .sidebar {
    height: 100vh;
    width: 300px;
    background: linear-gradient(0deg, #ff00cc, #333399);
    top: 0;
    left: 0;
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.8s ease;
    z-index: 999;
}


.page .content {
    margin-left: 300px;
    transition: all 0.8s ease;
}

/* Moves sidebar inward*/
body.active .page .sidebar {
    left: -300px;
}

body.active .page .content {
    margin-left: 0;
    width: 100%;
    
}

.sidebar-header {
    padding: 10px 15px;

}

.sidebar-logo-container {
    background-color: rgb(0, 0, 0, 0.2);
    border-radius: 8px;
    display: flex;
    padding-left: 5px;
}

.logo-container {
    max-width: 40px;
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 6px;
    margin: 8px;
    padding: 6px 8px;
    z-index: 99;
}

.logo-sidebar {
    width: 100%;
    height: auto;
}

.brand-name-container {
    padding: 0px;
    margin: 10px 10px 0px 2px;
}

.brand-name {
    color: white;
    margin: 0px;
    line-height: 1.2rem;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: 'Roboto', "sans-serif";
    font-weight: 600;
}

.brand-subname {
    font-weight: 300;
    font-size: 14px;
}

.navigation-list {
    list-style: none;
    padding: 0px 18px;
    margin-top: 30px;
}

.navigation-list-item {
    
    padding: 10px 18px 10px 18px;
    border-radius: 8px;
    margin: 15px 0px;
}

.navigation-list-item:hover {
    background: rgb(0, 0, 0, 0.1);
    box-shadow: 0 0 0.4em rgb(255, 255, 255, 0.1);
    cursor: pointer;
}

.navigation-list-item.active {
    background: rgb(0, 0, 0, 0.15);
    box-shadow: 0 0 0.4em rgb(255, 255, 255, 0.1);
    cursor: pointer;
}

.navigation-link {
    color: rgb(255, 255, 255, 0.8);
    letter-spacing: 0.5px;
    font-family: 'Roboto', "sans-serif";
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
}

.navigation-list-item:hover  .navigation-link {
    color: rgb(255, 255, 255, 0.7);
}

.navigation-list-item:active  .navigation-link {
    color: rgb(255, 255, 255, 0.8);
    font-weight: 600;
}

.navigation-link i {
    font-size: 19px;
}

.navigationBar {
    background: #03001e; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #03001e, #7303c0, #ec38bc, #fdeff9); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #03001e, #7303c0, #ec38bc);
    /*background-color: white; */
    height: 50px;
    padding: 38px 0px;
    display: flex;
    align-items: center;
     box-shadow: 0 4px 2px -2px #c5c6c7;  
} 

.sidebarToggle {
    font-size: 16px;
    background-color: white ;
    color: rgb (0, 0, 0, 0.8);
    margin-left: -10px;
    z-index: 999;
    border-radius: 50px;
    outline: none !important;
    box-shadow: none !important;
    transition: all 0.8s ease;
}

.sidebarToggle:hover {
    color: white;
}

.sidebarToggle.active {
    margin-left: 10px;
    color: white;
}

/* accenture white logo */

.acc-white {
    padding: 0;
    height: 55px;
    width: auto;
    position: absolute;
    top: 5px;
    left: 650px;
}



/** Contact Form **/

.tech-vision {
    position: absolute;
    height: 435px;
    width: 500px;
    left: 180px;
    top: 100px;
    border-radius: 5px;
}

.container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("assets/img/vibrant.jpg") no-repeat center;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}
.contact-box{
	max-width: 990px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
    border-radius: 8px;
    padding-bottom: 20px;
}

.left{
	background: url("assets/img/tech-vision.jpg") no-repeat center;
	background-size: contain;
	height: 100%;
}

.right{
	padding: 25px 40px;
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #ff00cc;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
    border-radius: 5px;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.bttn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #ff00cc;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
    border-radius: 5px;
}

.bttn:hover{
    background-color: #7303c0;
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

form {
    transform: translateY(50px);
}

@media screen and (max-width: 500px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}

    .tech-vision {
        position: absolute;
        height: 210px;
        width: 200px;
        left: 150px;
        top: 30px;
    }

    .acc-white {
        padding: 0;
        height: 55px;
        width: auto;
        position: absolute;
        top: 5px;
        left: 155px;
    }
    
}