

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgb (0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(53,50,153, 0.2);
    border-radius: 10px;
    
}

::-webkit-scrollbar-thumb:hover {
   background-color: rgb(53,50,153, 0.2);
   cursor: pointer;
}

body {
    background-color: #e6e6e6;
    /* font-size: 1.25rem; */
}

p {
    /* font-size: 1.25rem; */
    display: inline-block;
}

.page .sidebar {
    height: 100vh;
    width: 300px;
    background: linear-gradient(0deg, #ff00cc, #333399);
    top: 0;
    left: 0;
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.8s ease;
    z-index: 999;
}


.page .content {
    margin-left: 300px;
    transition: all 0.8s ease;
}

/* Moves sidebar inward*/
body.active .page .sidebar {
    left: -300px;
}

body.active .page .content {
    margin-left: 0;
    width: 100%;
    
}

.sidebar-header {
    padding: 10px 15px;

}

.sidebar-logo-container {
    background-color: rgb(0, 0, 0, 0.2);
    border-radius: 8px;
    display: flex;
    padding-left: 5px;
}

.logo-container {
    max-width: 40px;
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 6px;
    margin: 8px;
    padding: 6px 8px;
    z-index: 99;
}

.logo-sidebar {
    width: 100%;
    height: auto;
}

.brand-name-container {
    padding: 0px;
    margin: 10px 10px 0px 2px;
}

.brand-name {
    color: white;
    margin: 0px;
    line-height: 1.2rem;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: 'Roboto', "sans-serif";
    font-weight: 600;
}

.brand-subname {
    font-weight: 300;
    font-size: 14px;
}

.navigation-list {
    list-style: none;
    padding: 0px 18px;
    margin-top: 30px;
}

.navigation-list-item {
    
    padding: 10px 18px 10px 18px;
    border-radius: 8px;
    margin: 15px 0px;
}

.navigation-list-item:hover {
    background: rgb(0, 0, 0, 0.1);
    box-shadow: 0 0 0.4em rgb(255, 255, 255, 0.1);
    cursor: pointer;
}

.navigation-list-item.active {
    background: rgb(0, 0, 0, 0.15);
    box-shadow: 0 0 0.4em rgb(255, 255, 255, 0.1);
    cursor: pointer;
}

.navigation-link {
    color: rgb(255, 255, 255, 0.8);
    letter-spacing: 0.5px;
    font-family: 'Roboto', "sans-serif";
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
}

.navigation-list-item:hover  .navigation-link {
    color: rgb(255, 255, 255, 0.7);
}

.navigation-list-item:active  .navigation-link {
    color: rgb(255, 255, 255, 0.8);
    font-weight: 600;
}

.navigation-link i {
    font-size: 19px;
}

.navigationBar {
    background: #03001e; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #03001e, #7303c0, #ec38bc, #fdeff9); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #03001e, #7303c0, #ec38bc);
    /*background-color: white; */
    height: 50px;
    padding: 38px 0px;
    display: flex;
    align-items: center;
     box-shadow: 0 4px 2px -2px #c5c6c7;  
} 

.sidebarToggle {
    font-size: 16px;
    background-color: white ;
    color: rgb (0, 0, 0, 0.8);
    margin-left: -10px;
    z-index: 999;
    border-radius: 50px;
    outline: none !important;
    box-shadow: none !important;
    transition: all 0.8s ease;
}

.sidebarToggle:hover {
    color: white;
}

.sidebarToggle.active {
    margin-left: 10px;
    color: white;
}

/* accenture white logo */

.acc-white {
    padding: 0;
    height: 55px;
    width: auto;
    position: absolute;
    top: 5px;
    left: 650px;
}

/* No, Date, address, city, state  */


/* body {
    font-size: 16px;
    height: 100vh;
    display: grid;
    grid-template-areas:'header header header'
                        'nav content sidebar'
                        'nav footer footer';
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 80px 1fr;
} */


#map {
    height: 637px;
    width: 100%;
}

.wrapper {
    height: 100%;
    width: auto;
    

}

.container {
    transform: translateY(70px);
    font-size: 16px;
    height: 635px;
    width: 100%;
    display: grid;
    grid-template-areas:
                        'nav content sidebar'
                        'nav content sidebar'
                        'nav content sidebar';
    grid-template-columns: 6fr 16fr 6fr ;
    gap: 10px;
    
}

 main, aside, nav {
    background-color: #fff;
    color: black;
    padding: 20px;
    border: rgb(211, 206, 206) 1px solid;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}


nav {
     grid-area: nav; 
}

main {
    grid-area: content;
}

aside {
    grid-area: sidebar;
}


@media (max-width: 500px) {
    
}

main {
    display: flex;
    overflow-y: auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    margin-bottom: 10px;

}

.card:hover {
    box-shadow: rgba(236, 56, 188, 0.25) 0px 14px 28px, rgba(236, 56, 188, 0.22) 0px 10px 10px;
    /* box-shadow: rgba(236, 56, 188, 0.35) 0px 5px 15px; */
    transition: 0.5s ease-in-out;
}

.book-btn {
    margin-right: 150px;
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid rgb(167, 161, 161);
    padding: 3px 10px;
}

.book-btn:hover {
    color: #fff;
    background-color: #7303c0;
    transition: 0.3s ease-in;
}

.room-type-btn {
    border-radius: 50%; height: 38px;
    border: none;
    background-color: #bd00ff;
    color: #fff;
    min-width: 40px;
}
.box {
    position: absolute;
    margin-top: 10px;
}

.box select {
    padding: 10px;
    width: 210px;
    height: 45px;
    border: 1px solid rgb(167, 161, 161);
    font-size: 15px;
    box-shadow: 0 5px 25px rgba (0,0,0, 5);
    -webkit-appearance: button;
    outline: none;
    border-radius: 8px;
}

.box:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;

}


.box2 {
    position: absolute;
    top: 115px;
    left: 33px
}

.box2 select {
    padding: 10px;
    width: 210px;
    height: 45px;
    border: 1px solid rgb(167, 161, 161);
    font-size: 15px;
    box-shadow: 0 5px 25px rgba (0,0,0, 5);
    border-radius: 8px;
    top: 200px;
}

.box3:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;

}

.box3 {
    position: absolute;
    top: 173px;
    left: 33px
}

.box3 select {
    padding: 10px;
    width: 210px;
    height: 45px;
    border: 1px solid rgb(167, 161, 161);
    font-size: 15px;
    box-shadow: 0 5px 25px rgba (0,0,0, 5);
    border-radius: 8px;
    top: 200px;
}

.box3:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;

}

.box4 {
    position: absolute;
    top: 232px;
    left: 33px
}

.box4 select {
    padding: 10px;
    width: 210px;
    height: 45px;
    border: 1px solid rgb(167, 161, 161);
    font-size: 15px;
    box-shadow: 0 5px 25px rgba (0,0,0, 5);
    border-radius: 8px;
    top: 200px;
}

.box4:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;

}

.box5 {
    position: absolute;
    top: 345px;
    left: 33px
}



.to {
    position: absolute;
    top: 390px;
    left: 120px;
    color: rgb(137, 135, 135);
}

.box6 {
    position: absolute;
    top: 430px;
    left: 33px
}

.title {
    font-family: 'Roboto', "sans-serif";
    font-size: large;
    font-weight: 700;
    color: #7303c0;
}


.title2 {
    font-family: 'Roboto', "sans-serif";
    font-size: large;
    font-weight: 700;
    color: #7303c0;
    position: absolute;
    bottom: 305px;

}

.title3 {
    font-family: 'Roboto', "sans-serif";
    font-size: large;
    font-weight: 700;
    color: #7303c0;
    position: absolute;
    bottom: 120px;
}

.box7 {
    position: absolute;
    bottom: 60px;
    left: 33px
}

.box7 select {
    padding: 10px;
    width: 210px;
    height: 45px;
    border: 1px solid rgb(167, 161, 161);
    font-size: 15px;
    box-shadow: 0 5px 25px rgba (0,0,0, 5);
    border-radius: 8px;
    top: 200px;
}

.box7:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;

}

.title4 {
    font-family: 'Roboto', "sans-serif";
    font-size: large;
    font-weight: 700;
    color: #7303c0;
    position: absolute;
 
}



.box8 {
    position: absolute;
    top: 60px;
    right: 44px
}

.box8 select {
    padding: 10px;
    width: 210px;
    height: 45px;
    border: 1px solid rgb(167, 161, 161);
    font-size: 15px;
    box-shadow: 0 5px 25px rgba (0,0,0, 5);
    border-radius: 8px;
    top: 200px;
}

.box8:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;

}

.box9 {
    position: absolute;
    top: 117px;
    right: 44px
}

.box9 select {
    padding: 10px;
    width: 210px;
    height: 45px;
    border: 1px solid rgb(167, 161, 161);
    font-size: 15px;
    box-shadow: 0 5px 25px rgba (0,0,0, 5);
    border-radius: 8px;
    top: 200px;
}

.box9:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;

}

.box10 {
    position: absolute;
    top: 175px;
    right: 44px
}

.box10 select {
    padding: 10px;
    width: 210px;
    height: 45px;
    border: 1px solid rgb(167, 161, 161);
    font-size: 15px;
    box-shadow: 0 5px 25px rgba (0,0,0, 5);
    border-radius: 8px;
    top: 200px;
}

.box10:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;

}
.box11 {
    position: absolute;
    top: 230px;
    right: 44px
}

.box11 select {
    padding: 10px;
    width: 210px;
    height: 45px;
    border: 1px solid rgb(167, 161, 161);
    font-size: 15px;
    box-shadow: 0 5px 25px rgba (0,0,0, 5);
    border-radius: 8px;
    top: 200px;
}

.box11:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;

}
.box12 {
    position: absolute;
    top: 287px;
    right: 44px
}

.box12 select {
    padding: 10px;
    width: 210px;
    height: 45px;
    border: 1px solid rgb(167, 161, 161);
    font-size: 15px;
    box-shadow: 0 5px 25px rgba (0,0,0, 5);
    border-radius: 8px;
    top: 200px;
}

.box12:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;

}

.reset {
    position: absolute;
    bottom: 250px;
    right: 157px;
    min-height: 32px;
    min-width: 95px;
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid rgb(167, 161, 161);
}

.reset:hover {
    color: #fff;
background-color: #ec38bc;
transition: 0.3s ease-in;
box-shadow: 0 8px 8px -4px #7303c0;
}

reset:active {

}

.find-btn {
    position: absolute;
    bottom: 250px;
    right: 44px;
    min-height: 32px;
    min-width: 95px;
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid rgb(167, 161, 161);
}

.find-btn:hover {
    color: #fff;
    background-color: #ec38bc;
    transition: 0.3s ease-in;
    box-shadow: 0 8px 8px -4px #7303c0;
}

.find-btn:active {

}
.map-btn {
    position: absolute;
    bottom: 200px;
    right: 88px;
    min-height: 32px;
    min-width: 120px;
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid rgb(167, 161, 161);
}

.map-btn:hover {
    color: #fff;
    background-color: #7303c0;
    transition: 0.3s ease-in;
    box-shadow: 0 8px 8px -4px #ec38bc;
}



        .wrapper#blur.active {
            filter:blur(20px);
            pointer-events: none;
            user-select: none;
        }
        /* .container {
            position: relative;
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            background-color: bisque;
            transition: 0.5s;
            padding: 20px;
        } */

        .container .content {
            position: relative;
            max-width: 800px;
        }

        /* p {
    
            margin-bottom: 10px;
        } */

        /* .container .content img {
            max-width: 100%;
            display: block;
        } */

        /* a {
            position: relative;
            padding: 5px 20px;
            display: inline-block;
            margin-top: 20px;
            text-decoration: none;
            color: #fff;

        } */

        #popup {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 700px;
            padding: 50px;
            box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
            background-color: #fff;
            visibility: hidden;
            opacity: 0;
            transition: 0.5s;
            overflow-y: auto;
        }

        #popup.active {
            border-radius: 8px;
            top: 50%;
            visibility: visible;
            opacity: 1;
            transition: 0.5s;
            height: 500px;
            /* max-width: 300px; */
            text-align: center;
            line-height: 1;
            width: 400px;
    
        }

     
        #popup.active > p {
            font-size: 14px;
            
        }

        .office-details {
            color: #01a1ff;
        }

        .confirm-btn {
            background-color: transparent;
            cursor: pointer;
            border-radius: 10px;
            border: 0.5px solid #D3D3D3;
            padding: 5px 10px;
            color: #00E500;
            margin-bottom: 20px;
        }
        .confirm-btn:hover {
            cursor: pointer;
            border-radius: 10px;
            border: 0.5px solid #D3D3D3;
            padding: 5px 10px;
            color: #fff;
            background-color: #00E500;
            transition: 0.5s ease-in-out;
        }
        .cancel-btn {
            background-color: transparent;
            cursor: pointer;
            border-radius: 10px;
            border: 0.5px solid #D3D3D3;
            padding: 5px 15px;
            color: #E71919;
        }
        .cancel-btn:hover {
            cursor: pointer;
            border-radius: 10px;
            border: 0.5px solid #D3D3D3;
            padding: 5px 15px;
            color: #fff;
            background-color: #E71919;
            transition: 0.5s ease-in-out;
        }
